# Environment (development | production)
ENVIRONMENT=development

# Vector DB Config
CHROMA_PERSIST_DIR=my_chroma_db

# Embeddings Config
OLLAMA_EMBEDDING_MODEL=your_ollama_embedding_model
GEMINI_EMBEDDING_MODEL=your_gemini_embedding_model
GOOGLE_API_KEY=your_gemini_api_key_here

# Generation LLM Config
OLLAMA_LLM_MODEL=llama3.2
GEMINI_LLM_MODEL=gemini-1.5-flash

# Ingestion & Chunking Config
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
IMAGE_OUTPUT_DIR=storage/images
